<h3>{{viewTitle}}</h3>

<form action = "/article" method = "POST" autocomplete="off">

    <div class = "form-group">
        <label>Title</label>
        <input type="text" class = "form-control" name = "title" placeholder="Title" value="{{article.title}}" required>
    </div>
    <div class = "form-group">
        <label>Author</label>
        <input type="text" class = "form-control" name = "description" placeholder="Description" value="{{article.description}}" required>
    </div>
    <div class = "form-group">
        <label>Year</label>
        <input type="text" class = "form-control" name = "year" placeholder="Year" value="{{article.year}}" required>
    </div>
    <div class = "form-group">
        <label>DOI</label>
        <input type="text" class = "form-control" name = "doi" placeholder="DOI" value="{{article.doi}}" required> 
    </div>
    <div class = "form-group">
        <label>Rating</label>
        <input type="text" class = "form-control" name = "rating" placeholder="DOI" value="{{article.rating}}"> 
    </div>
    <div class = "form-group">
        <button type="submit" class = "btn btn-info"><i class="fa fa-database"></i>Submit</button>
    </div>
</form>